<!-- <h1>hola</h1>
<form action="/tasks" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="title">Enter task: </label>
  <input type="text" name="task_name" id="title">
  <input type="submit">
</form> -->

<%= form_for(@task) do |f| %>
  <%= f.label :name, :placeholder => "enter task"%>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
